* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.autocomplete-container {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 400px;
}

.autocomplete-input {
  width: 100%;
  padding: 10px;
  margin-right: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.autocomplete-button {
  /* width: 100%; */
  /* padding: 10px; */
  margin-right: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.autocomplete-suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
}

.autocomplete-suggestion {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.autocomplete-suggestion:hover {
  background-color: #f0f0f0;
}

.tooltip {
  transition: opacity 0.2s ease;
}

.career-highs-table {
  max-height: 410px;
  overflow-y: auto;
  overflow-x: auto;
  position: relative;
}

.career-highs-table thead tr th {
  position: sticky;
  top: 0;
  z-index: 10;
  text-align: center;
  vertical-align: middle;
}

.players-dropdown .dropdown-menu {
  width: 400px;
  padding: 10px;
  z-index: 1055;
}

.autocomplete-error {
  color: red;
  font-size: 0.9rem;
  margin: 2px;
  margin-bottom: 10px;
}

.item {
  height: 310px;
  border-radius: 16px;
  background: #fff1d5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #604652;
  font-size: 102px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
